.total{
    background-color: rgb(11, 162, 182); 
    width: 150px; 
    height: 150px; 
    margin-left: 20px; 
    text-align: center;
    align-items: center;
    border-radius: 50%;
}

.total-h1{
    flex: 1;
    color: #fff;
}