.btnValue {
    margin-left: 25%; 
    margin-top: 15%; 
    width: 65%;
}

.botao{
    width: 15%; 
    height: 50px;
    margin-right: 5%;
    flex: 1;
}

.btnHead1,.btnHead2 {
    width: 40%; 
    text-align: center ;
    margin-right: 10%;
}

.btnNumber1, .btnNumber2{
    width: 40%; 
    margin: 0px; 
    align-items: center; 
    margin-right: 10%;
}

.btnNumber1Mod {
    width: 100%; 
    margin: 0px; 
    align-items: center; 
    margin-right: 10%;
}
