
.jogadas{
    margin: 0px;
    width: 60%;
    margin-left: 50px;
}

.jogadas-numero {
    background-color: #409a75; 
    width: 65px; 
    height: 65px; 
    text-align: center;
    align-items: center; 
    margin-right: 20px;
    border-radius: 5px;
}

.jogadas-h2{
    flex: 1;
    color: #fff;
}